%h1.general-title-margin Settings
%ul.nav.clearfix.mb-20
  %li.tab-item{role: "presentation"}
    = link_to 'Address', address_path, class: 'tab-link', 'aria-controls': 'privacy'
  %li.tab-item{role: "presentation"}
    = link_to 'Privacy', privacy_path, class: 'tab-link active', 'aria-controls': 'privacy'
