<p><%= t('mailer.subject') %> <%= @resource.email %>!</p>

<p><%= t('mailer.pass_change') %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
