%table.general-summary-table
  %tr
    %td
      %p.font-16 Item Total:
    %td
      %p.font-16= currency_with_price order.subtotal
  %tr
    %td
      %p.font-16 Coupon
    %td
      - if order.coupon.present?
        %p.font-16= currency_with_price order.coupon.value
      - else
        %p.font-16= currency_with_price
  %tr
    %td
      %p.font-16 Order Total:
    %td
      %p.font-16= currency_with_price order.total
